@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
}

.logo {
    height: 75px;
    border-radius: 20px;
    border: #006EBD 2px solid
}

nav {
    background-color: #006EBD;
}

.nav-link {
    color: white !important;
}

.w-unset {
    width: unset !important;
}

footer {
    position: relative;
    background-color: rgb(48, 47, 47);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

footer>p {
    margin: 0;
}

.active {
    background-color: #2ca3f8;
    border-radius: 10px;
}

h1 {
    color: #fff;
}

.underlined::after {
    content: "";
    position: absolute;
    left: 10px;
    top: 35%;
    width: 100%;
    height: 0.8em;
    background-color: #81dbff8f;
    z-index: -1;
}

.underlined {
    position: relative;
    display: inline-block;
    margin-right: 10px;
}

.min-100{
    min-height: 100vh;
}

section p{
    font-size: 1.1rem;
}

section label{
    color: #fff;
}

#b-home{
    background: linear-gradient(rgba(56, 149, 255, 0.9),
    rgba(56, 149, 255, 0.8),
    rgba(56, 149, 255, 0.4),
    rgba(56, 149, 255, 0.1)),
    url('http://www.cabrahotels.com/assets/mallora-beach.webp');
    background-size: cover;
    background-position: center;   
    background-attachment: fixed;     
}

.canvas-img{
    border: #fff 2px solid;
    border-radius: 20px;
    display: none;
}